
.float-right {
    float: right;
}

mat-card {
    padding: 20px;
}

table {
    width: 100%;
}

.filter-part{
    margin-bottom: 25px; /* Adjust the value to control the spacing */

}

.card-container{  
  padding: 20px 25px 0px 25px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card {
    width: calc(20.00% - 10px); /* Adjust the width as needed; subtract margin */
    margin: 10px; /* Add margin to separate cards */
  }