<div style="margin-top: 20px">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">
        Evenimente memorabile din România
      </h2>
    </div>
    <ul class="timeline">
      <li>
        <a href="../../assets/img/untold.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/untold.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Untold</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Untold Festival este cel mai mare festival de muzică din România.
              Acesta se desfășoară în fiecare an pe stadionul Cluj Arena din
              Cluj-Napoca.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/summerWell.png" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/summerWell.png"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Summer Well</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Summer Well Festival este un festival de muzică alternativă din
              România, desfășurat anual în al doilea weekend din august pe
              domeniul Știrbey din Buftea, județul Ilfov. Prima ediție a
              festivalului a avut loc în 2011.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/electric.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/electric.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Electric Castle</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Electric Castle este un festival de muzică din România, care se
              desfășoară în fiecare an la Castelul Bánffy din comuna Bonțida,
              județul Cluj. Festivalul îmbină în lineup zone muzicale variate
              cum ar fi rock, reggae, hip hop, trap, muzică electronică sau
              indie cu tehnologia, cu arta alternativă, arta stradală și
              cultura.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/saga.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/saga.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Saga Festival</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Saga Festival este un festival de muzică electronică, pop și trap
              organizat în București de către ALDA, o companie europeană care se
              ocupă de organizarea multor festivaluri de muzică din Europa.
              Festivalul a avut loc în 2 locații până acum: Romaero în 2021 și
              2023 și Arena Națională în 2022. Având multe scene neconvenționale
              și nume mari din lumea muzicală Saga a reușit să adune un număr
              mare de spectatori în fiecare an. De asemenea Saga s-a ocupat și
              de organizarea concertului caritabil We Are One din 12 martie 2022
              organizat la Arena Națională dedicat strângerii de fonduri pentru
              refugiații ucrainieni.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
