/* Footer */
.footer {
  padding: 6px;
  text-align: center;
  color: white;
  background: #835F8C;
}

.wrapper {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #835F8C;
}

nav {
  display: flex;
  width: 90%;
}

ul li a {
  margin-left: 1.5em;
}

a.logo {
  margin-right: auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-size: 1.25em;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
}

.bg-image {
  /* The image used */
  background-image: url("C:/Users/torok/Desktop/SDA/Event-Management/Event-Management/images/user/events.webp");
  
  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
  
  /* Full height */
  height: 50%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

