<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Evenimente România
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">
          <mat-icon>account_circle</mat-icon>Login</a
        >
        <a (click)="handleSignupAction()">
          <mat-icon>assignment_ind</mat-icon>Signup</a
        >
        <!--<a (click)="handleforgotPasswordAction()">Forgot Password</a>-->
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Bine ați venit.</h2>
</div>
